.LandingPage_wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    background-color: white;
    flex-direction: column;
    border: 3px solid green;
    padding: 5px;

}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: larger;
}